<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-4 card-row"></div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-4 card-row-placehold">
  {% for i in (1..section.settings.ppg) %}
    <div class="col">
      <div class="card animated-background h-100">
        <div class="card-body">
          <div class="placeholder-img"></div>
          <div class="placeholder-header"></div>
          <div class="placeholder-spacer-x"></div>
          <span class="placeholder-p"></span>
          <div class="placeholder-spacer-x"></div>
          <span class="placeholder-p"></span>
          <div class="placeholder-spacer-x"></div>
          <span class="placeholder-p"></span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
