{% if section.settings.filter_colors %}
  <div id="color-filter" class="filter-contain mb-3">
    <h5 class="filter-head">{{ section.settings.color_filter_title }}</h5>
    <div id="filter-by-color">
      <ul class="filters">
        <li class="filter animated-background"></li>
        <li class="filter animated-background"></li>
        <li class="filter animated-background"></li>
        <li class="filter animated-background"></li>
      </ul>
    </div>
  </div>
{% endif %}
{% if section.settings.filter_tags %}
  <div id="tag-filter" class="filter-contain mb-3">
    <h5 class="filter-head">{{ section.settings.tag_filter_title }}</h5>
    <div id="filter-by-tags">
      <ul class="filters">
        <li class="filter animated-background"></li>
        <li class="filter animated-background"></li>
        <li class="filter animated-background"></li>
        <li class="filter animated-background"></li>
      </ul>
    </div>
  </div>
{% endif %}