{% if template contains 'collection' %}
  {{ 'collection.css' | asset_url | stylesheet_tag }}
{% elsif template contains 'product' %}
  {{ 'product.css' | asset_url | stylesheet_tag }}
{% else %}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
{% endif %}