<style>
  {{ settings.font_heading | font_face }}
  {{ settings.font_body | font_face }}

  {%- assign font_body_bold = settings.font_body | font_modify: 'weight', 'bolder' -%}
  {%- assign font_body_bold_italic = font_body_bold | font_modify: 'style', 'italic' -%}

  {{ font_body_bold | font_face }}
  {{ font_body_bold_italic | font_face }}

  :root {
      --color-primary: {{ settings.color_primary }};
      --color-body-text: {{ settings.color_body_text }};
      --color-border: {{ settings.color_body_text | color_lighten: 50 }};

      --font-body: {{ settings.body_custom_font }}, {{ settings.body_font }};
      --font-body-bold-weight: 600;
      --font-body-size: {{ settings.font_size_body}}
  }
</style>
