
<div class="hello-holder" style="background-image: url('{{ 'cart-hello-bg.png' | asset_url }}');">
    <h1>Hello, {{ customer.first_name }}</h1>
    {% if customer.orders_count < 1 %}
        <div class="member-orders first-rder">We see you have not placed any orders. <a href="/collections/all">Get Shopping!</a></div>
    {% else %}
        <div class="member-orders">You have placed {{ customer.orders_count }} order{% if customer.orders_count > 1 %}s{% endif %}!</div>
    {% endif %}
</div>
<div class="hello-nav">
    <ul>
        <li><a href="/account">Orders<span class="order-total more-info">{{ customer.orders_count }}</span></a></li>
        <li><a href="/account/addresses">Addresses<span class="default-address more-info">{{ customer.default_address.address1 }}</span></a></li>
        <li><a href="/account/logout">Log Out</a></li>
    </ul>
</div>