{% comment %}
  <div class="pagination-title row">
    <div class="col-auto text-right">
      <p>Page <span>{{ paginate.current_page }}</span> of <span>{{ paginate.pages }}</span></p>
    </div>
  </div>
{% endcomment %}
<div class="pagination mb-4">
  
</div>
