<div class="team-hero-cards">
  <div class="row">
    <div class="col">
      {% for teamHero in teamBackground %}
        {% if teamActive[forloop.index0] == 'true' %}
          <div id="{{teamName[forloop.index0] | | downcase | replace: ' ', '-'}}--hero-card" class="card team-hero--card">
            <img src="{{teamHero | img_url: '1x1'}}" data-src="{{teamHero}}" alt="{{ teamName[forloop.index0] }}" class="card-img-top lazyload">
            <div class="team-hero-card--logo">
              <img src="{{teamLogo[forloop.index0] | img_url: '1x1'}}" data-src="{{teamLogo[forloop.index0]}}" alt="{{teamName[forloop.index0]}} Logo" class="lazyload" />
            </div>
            <div class="card-body row justify-content-center">
              <div class="col-11 col-md-7 col-lg-5">
                <h2 class="card-title text-center">{{teamName[forloop.index0]}}</h2>
                <div class="card-text">
                  {{teamAbout[forloop.index0]}}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>