<div class="row row-cols-2 row-cols-md-3 justify-content-center team-cards">
    {% for team in teamName %}
      {% if teamActive[forloop.index0] == 'true' %}
        <div id="{{teamName[forloop.index0] | downcase | replace: ' ', '-'}}--card" class="col team-cards--card">
          <div class="team-card--holder" data-to-team="{{teamName[forloop.index0] | | downcase | replace: ' ', '-'}}--hero" style="color: {{teamColorOverlay[forloop.index0]}};">
            <div class="team-background">
              <div class="team-background--overlay lazyload" style="background-image: url({{ teamCard[forloop.index0] | img_url: '1x1' }});" data-bgset="{{teamCard[forloop.index0]}}"><!-- leave empty --></div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto team-info--logo">
                <img src="{{teamLogo[forloop.index0] | img_url: '1x1'}}" data-src="{{teamLogo[forloop.index0]}}" alt="{{teamName[forloop.index0]}} Logo" class="lazyload" />
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>