<div class="container-fluid crew">
  <div class="row crew--title">
    <div class="col-12 text-center">
      <h2>Spotlight crew</h2>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 crew--row">
    {% for member in crewName %}
    {% assign crewFirstName = crewName[forloop.index0] | split: ' ' %}
      <div class="col crew--member {{crewTeam[forloop.index0] | downcase | replace: ' ', '-'}}">
        <div class="crew-member--image lazyload" data-bgset="{{  {{crewImage[forloop.index0]}} | img_url: '480x480' }}"></div>
        <div class="crew-border"></div>
        <div class="crew-member--name">
          <h3>{{crewName[forloop.index0]}}</h3>
        </div>
        <div class="crew-member--details">
          <h3>{{crewName[forloop.index0]}}</h3>
          <h4>{{crewTitle[forloop.index0]}}</h4>
          {% if crewTwitter[forloop.index0] contains 'twitter' or crewTwitch[forloop.index0] contains 'twitch' or crewYouTube[forloop.index0] contains 'youtube' %}
            <div class="crew-member--social">
              <div class="row row-cols-auto justify-content-center ">
                {% if crewTwitter[forloop.index0] contains 'twitter' %}
                  <div class="col crew-member-social--twitter"><a href="{{crewTwitter[forloop.index0]}}" target="_blank"><i class="bi bi-twitter"></i></a></div>
                {% endif %}
                {% if crewTwitch[forloop.index0] contains 'twitch' %}
                  <div class="col crew-member-social--twitch"><a href="{{crewTwitch[forloop.index0]}}" target="_blank"><i class="bi bi-twitch"></i></a></div>
                {% endif %}
                {% if crewYouTube[forloop.index0] contains 'youtube' %}
                  <div class="col crew-member-social--youtube"><a href="{{crewYouTube[forloop.index0]}}" target="_blank"><i class="bi bi-youtube"></i></a></div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
        
      </div>
    {% endfor %}
  </div>
  <div class="row become-crew justify-content-center">
    <div class="col-auto">
      <p>We work with industry leaders to help bring our brand closer to the action.</p>
      <a href="/pages/partnerships" class="button button_primary">Become A Partner</a>
    </div>
  </div>
</div>