{% assign policy_name = handle | replace: '-', '_' %}
{% assign policy = shop[policy_name] %}
<div class="container template-long-content">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 content rte">
      <h1>{{ policy.title }}</h1>
      {{ policy.body }} 
    </div>  
  </div>
</div>