{% unless product.has_only_default_variant %}
  <div class="product-form--controls-group simple-variant">
    {% for option in product.options_with_values %}
      <div class="selector-wrapper js product-form--item mb-3">
        <label for="SingleOptionSelector-{{ forloop.index0 }}" class="form-label">
          {{ option.name }}
        </label>
        <select class="single-option-selector single-option-selector-{{ section.id }} product-form--input form-select"
          id="SingleOptionSelector-{{ forloop.index0 }}"
          data-index="option{{ forloop.index }}"
        >
          {% for value in option.values %}
            <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
  </div>
{% endunless %}