{% comment %}
    Renders a product card using "List" style

    Accepts:
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-list', product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="row product-card product-card--list">
  <a class="full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>
  <div class="col-auto list-view-item__image-column">
    <div class="list-view-item__image-wrapper product-card__image-wrapper">
    {% unless product.featured_media == null %}
      <img class="list-view-item__image" src="{{ product.featured_media | img_url: '95x95', scale: 2 }}" alt="{{ product.featured_media.alt }}">
    {% endunless %}
    </div>
  </div>
  <div class="col">
    <div class="row g-0 h-100">
      <div class="col-12">
        {% if product.compare_at_price_max > product.price %}
          <div class="sale badge bg-dark text-info"><i class="bi bi-tag-fill text-danger text-large"></i> On Sale</div>
        {% endif %}
        <div class="list-view-item--title-column mb1">
          <div class="list-view-item--title" aria-hidden="true">
            <span class="product-card--title h4">{{ product.title }}</span>
          </div>
          {% if show_vendor %}
            <div class="list-view-item--vendor">{{ product.vendor }}</div>
          {% endif %}
        </div>

        <div class="list-view-item0--price-column mb-1">
          <p class="card-text">
            {%- if product.price_varies -%}
              <small class="text-muted">Starting at</small>
              {{ product.price_min | money_without_trailing_zeros }}
              <span aria-hidden="true">+</span>
            {%- else -%}
              {{ product.price | money_without_trailing_zeros }}
            {%- endif -%}
          </p>
        </div>
      </div>
      <div class="col-12 align-self-end">
        <div class="list-view-item--view-btn">
          <a href="{{ product.url | within: collection }}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
