{% unless product.has_only_default_variant %}
  <div class="advanced-variant">
    {% unless product.has_only_default_variant %}
      <h6 class="color title">Model/Color: <span id="model-color">
      {%- if product.available -%}
        {%- for variant in product.variants -%}
          {%- if variant.inventory_quantity > 0 -%}
            {{ variant.options.first }} 
            {% break %}
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        {%- for variant in product.variants -%}
          {%- if variant.inventory_quantity <= 0 -%}
            {{ variant.options.first }}
            {% break %}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
      </span></h6>
      {% for option in product.options_with_values %}  
        <div class="js colors single-option-selector row row-cols-3 mb-3">
          {% assign count = 0 %}
          {% for variant in product.variants %}
              {% assign count = count | plus: 1 %}
              {% assign color = variant.metafields["global"]["Swatch"] %}
              {% assign title = variant.title %}
              {% assign price = variant.price %}
              {% assign compare_price = variant.compare_at_price %}
              <input type="radio" id="Option-{{ variant.title | replace: " ", "-" }}-position-{{ position }}" name="{{ option.name | downcase }}" value="{{ title | escape }}"{% if count == 1 %} checked{% endif %}>
              <label for="Option-{{ variant.title | replace: " ", "-" }}-position-{{ position }}" data-variant="{{ title }}" class="col{% if variant.available == false %} out-of-stock{% endif %}">
                {% unless variant.available %}
                  <span class="out-of-stock text-small badge bg-primary">Out of Stock</span>
                {% endunless %}
                {% if compare_price > price %}
                  <span class="sale badge bg-dark text-info"><i class="bi bi-tag-fill text-danger text-large"></i>{% if section.settings.show_percent_off %} <span class="percent-off">{{ compare_price | minus: price | times: 100.0 | divided_by: compare_price }}%</span>{% endif %}</span>
                {% endif %}
                <img class="lazyload" src="{{ variant.featured_image | img_url: '1x1' }}" data-srcset="{{ variant.featured_image | img_url: '100x' }} 100w, {{ variant.featured_image | img_url: '180x' }} 180w, {{ variant.featured_image | img_url: '360x' }} 360w" alt="{{ product.title }} - {{ variant.title }}" data-sizes="auto" />
                <div class="spinner-holder">
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </label>
          {% endfor %}
        {% endfor %}
    {% endunless %}
  </div>
{% endunless %}