{% assign dropdown_type = "-animated" %}
{% unless section.settings.animated_dropdown %}
  {% assign dropdown_type = '' %}
{% endunless %}
<div class="collapse navbar-collapse nav{{ dropdown_type }}" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {%- for link in linklists.main-menu.links -%}
      <li class="nav-item{% if link.links != blank %} dropdown{% endif %} mx-3">
        <div class="btn-group">
          <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %} class="nav-link px-0{% if link.active %} active{% endif %}">
            {{ link.title }}
          </a>
          {%- if link.links != blank -%}
            <button type="button" class="btn btn-sm btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              {%- for child_link in link.links -%}
                <li>
                  <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %} class="dropdown-item{% if link.child_link %} active{% endif %}">
                    {{ child_link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>
  <form class="d-flex" action="/search" method="get" role="search">
    <input class="form-control me-2" placeholder="Search" aria-label="Search"     name="q"
    id="Search-{{ section.id }}"
    value="{{ search.terms | escape }}"
    placeholder="{{ 'general.search.placeholder' | t }}">
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form>
</div>