{% if template contains 'collection' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js" defer integrity="sha512-9Dh726RTZVE1k5R1RNEzk1ex4AoRjxNMFKtZdcWaG2KUgjEmFYN3n17YLUrbHm47CRQB1mvVBHDFXrcnx/deDA==" crossorigin="anonymous"></script>  
  <script src="{{ 'template-collection.js' | asset_url}}" defer></script>
{% endif %}
{% if template contains 'product' %}
  <script src="{{ 'template-product.js' | asset_url}}" defer></script>
{% endif %}
{% if template contains 'search' %}
  <script src="{{ 'template-search.js' | asset_url}}" defer></script>
{% endif %}
