<div class="container">
    {% paginate customer.addresses by 5 %}
    <div class="row no-gutters">
        <div class="col-12 col-md-4 sidenav">
            {% include 'hello-holder' %}
        </div>
        <div class="col-12 col-md-8">
            <div class="row no-gutters">
                <div class="col-12 info-holder">
                    <div data-address>
                        <h2>{{ 'customer.addresses.title' | t }}</h2>
                        <button type="button" class="btn btn-primary"
                                data-address-toggle>{{ 'customer.addresses.add_new' | t }}</button>

                        <div data-address-form class="hide address-new">
                            <div class="form-holder">
                            {% form 'customer_address', customer.new_address %}
                                <h2>{{ 'customer.addresses.add_new' | t }}</h2>

                                <div data-address-fields class="address-form">
                                    <div class="mb-3">
                                        <label for="AddressFirstNameNew" class="form-label">
                                            {{ 'customer.addresses.first_name' | t }}
                                        </label>
                                        <input type="text"
                                               name="address[first_name]"
                                               id="AddressFirstNameNew"
                                               value="{{ form.first_name }}"
                                               class="form-control"
                                               autocapitalize="words">
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressLastNameNew" class="form-label">
                                            {{ 'customer.addresses.last_name' | t }}
                                        </label>
                                        <input type="text"
                                               name="address[last_name]"
                                               id="AddressLastNameNew"
                                               value="{{ form.last_name }}"
                                               class="form-control"
                                               autocapitalize="words">
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressCompanyNew" class="form-label">
                                            {{ 'customer.addresses.company' | t }}
                                        </label>
                                        <input type="text"
                                               name="address[company]"
                                               id="AddressCompanyNew"
                                               value="{{ form.company }}"
                                               class="form-control"
                                               autocapitalize="words">
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressAddress1New" class="form-label">
                                            {{ 'customer.addresses.address1' | t }}
                                        </label>
                                        <input type="text"
                                               name="address[address1]"
                                               id="AddressAddress1New"
                                               value="{{ form.address1 }}"
                                               class="form-control"
                                               autocapitalize="words">
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressAddress2New" class="form-label">
                                            {{ 'customer.addresses.address2' | t }}
                                        </label>
                                        <input type="text"
                                               name="address[address2]"
                                               id="AddressAddress2New"
                                               value="{{ form.address2 }}"
                                               class="form-control"
                                               autocapitalize="words">
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressCityNew" class="form-label">
                                            {{ 'customer.addresses.city' | t }}
                                        </label>
                                        <input type="text"
                                               name="address[city]"
                                               id="AddressCityNew"
                                               value="{{ form.city }}"
                                               class="form-control"
                                               autocapitalize="words">
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressCountryNew" class="form-label">
                                            {{ 'customer.addresses.country' | t }}
                                        </label>
                                        <select
                                                name="address[country]"
                                                id="AddressCountryNew"
                                                class="form-select"
                                                data-default="{{ form.country }}">
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressProvinceNew" class="form-label">
                                            {{ 'customer.addresses.province' | t }}
                                        </label>
                                        <select
                                                name="address[province]"
                                                class="form-select"
                                                id="AddressProvinceNew"
                                                data-default="{{ form.province }}">
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressZipNew" class="form-label">
                                            {{ 'customer.addresses.zip' | t }}
                                        </label>
                                        <input type="text"
                                               name="address[zip]"
                                               id="AddressZipNew"
                                               value="{{ form.zip }}"
                                               class="form-control"
                                               autocapitalize="characters">
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddressPhoneNew" class="form-label">
                                            {{ 'customer.addresses.phone' | t }}
                                        </label>
                                        <input type="tel"
                                               name="address[phone]"
                                               id="AddressPhoneNew"
                                               value="{{ form.phone }}"
                                               class="form-control"
                                               pattern="[0-9\-]*">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    {{ form.set_as_default_checkbox }}
                                    <label for="address_default_address_new" class="form-label">
                                        {{ 'customer.addresses.set_default' | t }}
                                    </label>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary">{{ 'customer.addresses.add' | t }}</button>
                                    <button type="button" data-address-toggle class="btn btn-primary">
                                        {{ 'customer.addresses.cancel' | t }}
                                    </button>
                                </div>
                            {% endform %}
                            </div>
                        </div>
                    </div>
                    <div class="addresses row no-gutters">
                        {% for address in customer.addresses %}

                            <div data-address class="col-12 col-md-6 address-holder">
                                <div class="address-inner row no-gutters">
                                    <div class="expand-address"><i class="fa fa-chevron-down"></i></div>
                                    <div class="col-10 address-holder-inner">
                                        <p class="name">
                                            <strong>{{ address.first_name }} {{ address.last_name }}</strong></p>
                                        <p class="address">{{ address.address1 }}{% if address.address2 != '' %}
                                        <br/>{{ address.address2 }}{% endif %}<br/>{{ address.city }}
                                            , {{ address.state }} {{ address.zip }}</p>
                                        {% if address == customer.default_address %}
                                            <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 expanded-menu" style="display: none;">
                                        <button type="button" data-address-toggle class="btn btn-primary">
                                            {{ 'customer.addresses.edit' | t }}
                                        </button>
                                        <form data-address-delete-form method="post"
                                              action="/account/addresses/{{ address.id }}"
                                              data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                                            <input type="hidden" name="_method" value="delete"/>
                                            <button type="submit" class="delete btn btn-text">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                <div data-address-form class="hide address-edit">
                                    <div class="form-holder">
                                    {% form 'customer_address', address %}

                                        <h4>{{ 'customer.addresses.edit_address' | t }}</h4>
                                        <div data-address-fields class="address-form">
                                            <div class="mb-3">
                                                <label for="AddressFirstName_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.first_name' | t }}
                                                </label>
                                                <input type="text"
                                                       name="address[first_name]"
                                                       id="AddressFirstName_{{ form.id }}"
                                                       value="{{ form.first_name }}"
                                                       class="form-control"
                                                       autocapitalize="words">

                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressLastName_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.last_name' | t }}
                                                </label>
                                                <input type="text"
                                                       name="address[last_name]"
                                                       id="AddressLastName_{{ form.id }}"
                                                       value="{{ form.last_name }}"
                                                       class="form-control"
                                                       autocapitalize="words">

                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressCompany_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.company' | t }}
                                                </label>
                                                <input type="text"
                                                       name="address[company]"
                                                       id="AddressCompany_{{ form.id }}"
                                                       value="{{ form.company }}"
                                                       class="form-control"
                                                       autocapitalize="words">

                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressAddress1_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.address1' | t }}
                                                </label>
                                                <input type="text"
                                                       name="address[address1]"
                                                       id="AddressAddress1_{{ form.id }}"
                                                       value="{{ form.address1 }}"
                                                       class="form-control"
                                                       autocapitalize="words">

                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressAddress2_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.address2' | t }}
                                                </label>
                                                <input type="text"
                                                       name="address[address2]"
                                                       id="AddressAddress2_{{ form.id }}"
                                                       value="{{ form.address2 }}"
                                                       class="form-control"
                                                       autocapitalize="words">

                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressCity_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.city' | t }}
                                                </label>
                                                <input type="text"
                                                       name="address[city]"
                                                       id="AddressCity_{{ form.id }}"
                                                       value="{{ form.city }}"
                                                       class="form-control"
                                                       autocapitalize="words">

                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressCountry_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.country' | t }}
                                                </label>
                                                <select
                                                        name="address[country]"
                                                        id="AddressCountry_{{ form.id }}"
                                                        class="address-country-option form-select""
                                                        data-form-id="{{ form.id }}"
                                                        data-default="{{ form.country }}">
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressProvince_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.province' | t }}
                                                </label>
                                                <select
                                                        name="address[province]"
                                                        id="AddressProvince_{{ form.id }}"
                                                        class="form-select"
                                                        data-default="{{ form.province }}">
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressZip_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.zip' | t }}
                                                </label>
                                                <input type="text"
                                                       name="address[zip]"
                                                       id="AddressZip_{{ form.id }}"
                                                       value="{{ form.zip }}"
                                                       class="form-control"
                                                       autocapitalize="characters">
                                            </div>
                                            <div class="mb-3">
                                                <label for="AddressPhone_{{ form.id }}" class="form-label">
                                                    {{ 'customer.addresses.phone' | t }}
                                                </label>
                                                <input type="tel"
                                                       name="address[phone]"
                                                       id="AddressPhone_{{ form.id }}"
                                                       value="{{ form.phone }}"
                                                       class="form-control"
                                                       pattern="[0-9\-]*">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            {{ form.set_as_default_checkbox }}
                                            <label for="address_default_address_{{ form.id }}" class="form-label">
                                                {{ 'customer.addresses.set_default' | t }}
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">{{ 'customer.addresses.update' | t }}</button>
                                        <button type="button" data-address-toggle data-form-id="{{ form.id }}" class="btn btn-text">
                                            {{ 'customer.addresses.cancel' | t }}
                                        </button>

                                    {% endform %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% if paginate.pages > 1 %}
                            {% include 'pagination' %}
                        {% endif %}

                        {% endpaginate %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
