<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-success hide" data-reset-success>
        {{ 'customer.recover_password.success' | t }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <a href="/">{{ 'customer.login.cancel' | t }}</a>
    </div>
    <div class="col-12">
      <h1 class="text-center">{{ 'customer.login.title' | t }}</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6" data-login-form>
      {% form 'customer_login' %}
        <div class="col-12">
          {{ form.errors | default_errors }}
        </div>
        <div class="col-12">
          <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                 name="customer[email]"
                 id="CustomerEmail"
                 class="form-control mb-3 {% if form.errors contains 'email' %}input-error{% endif %}"
                 placeholder="{{ 'customer.login.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 autofocus>
        </div>
        <div class="col-12">
          {% if form.password_needed %}
            <label for="CustomerPassword" class="label-hidden">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password"
                   name="customer[password]"
                   id="CustomerPassword"
                   class="form-control mb-3 {% if form.errors contains 'password' %}input-error{% endif %}"
                   placeholder="{{ 'customer.login.password' | t }}">
          {% endif %}
        </div>
        <div class="col-12 mb-3 text-center">
          <input type="submit" class="btn btn-primary" value="{{ 'customer.login.sign_in' | t }}">
        </div>
        <div class="col-12 text-center">
          <a href="/account/register">
            {{ 'layout.customer.create_account' | t }}
          </a>
        </div>
        <div class="col-12 text-center">
          {% if form.password_needed %}
            <a href="#recover" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
          {% endif %}
        </div>
      {% endform %}

    </div>

    <div id="recover" class="hide col-6" data-recover-form>
      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {% form 'recover_customer_password' %}
        <div class="mb-3">
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <span class="hide" data-form-state></span>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="RecoverEmail" class="label-hidden">
            {{ 'customer.recover_password.email' | t }}
          </label>
          <input type="email"
                 name="email"
                 id="RecoverEmail"
                 placeholder="{{ 'customer.recover_password.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 class="form-control"
                 autocapitalize="off">
        </div>
        <div>
          <input type="submit" class="btn btn-primary" value="{{ 'customer.recover_password.submit' | t }}">
          <button type="button" class="btn btn-outline-primary" data-recover-toggle>
            {{ 'customer.recover_password.cancel' | t }}
          </button>
        </div>
      {% endform %}

    </div>

    {% if shop.checkout.guest_login %}
      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}
  </div>
</div>