<div class="container">
    <div class="row no-gutters">
        {% comment %}
        The data-label attributes on
        <div> elements are mobile-friendly
            helpers used for responsive-table labels
            {% endcomment %}

            <div class="col-4 sidenav">
                {% include 'hello-holder' %}
            </div>
            <div class="col-8">
                <div class="row no-gutters">
                    <div class="col-12 info-holder">
                        <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>

                        <p>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

                        {% if order.cancelled %}
                            {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
                            <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
                            <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
                        {% endif %}
                        {% for line_item in order.line_items %}
                            <div class="row order-info">
                                <div class="col-2 prod-thumbnail">
                                    <img src="{{ line_item.variant.image.src | img_url: 150x }}" alt="{{ line_item.title }}" />
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-12 line-item-title"
                                             data-label="{{ 'customer.order.product' | t }}">
                                            {{ line_item.title | link_to: line_item.product.url }}
                                            {% if line_item.fulfillment %}
                                                <dl>
                                                    <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                                                    <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                                                    {% if line_item.fulfillment.tracking_url %}
                                                        <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                                                        <dd>
                                                            <a href="{{ line_item.fulfillment.tracking_url }}">
                                                                {{ 'customer.order.track_shipment' | t }}
                                                            </a>
                                                        </dd>
                                                    {% endif %}

                                                    <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                                                    <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                                                    {% if line_item.fulfillment.tracking_number %}
                                                        <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                                                        <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                                                    {% endif %}
                                                </dl>
                                            {% endif %}
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-4 line-item-sku"
                                                     data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-auto line-item-quantity"
                                                     data-label="{{ 'customer.order.quantity' | t }}">
                                                    qty {{ line_item.quantity }}</div>
                                                <div class="col-auto line-item-total"
                                                     data-label="{{ 'customer.order.total' | t }}">
                                                    <strong>{{ line_item.quantity | times: line_item.price | money }}</strong>{% if line_item.quantity > 1 %} each{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row no-gutters order-bottom">
                    <div class="col-12">
                        <div class="row order-total justify-content-end no-gutters">
                            <div class="col-auto">
                                <span class="small">{{ 'customer.order.subtotal' | t }}</span>
                            </div>
                            <div class="col-3 text-right">
                                <span data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</span>
                            </div>
                        </div>
                        {% for discount in order.discounts %}
                            <div class="row order-total justify-content-end no-gutters">
                                <div class="col-auto">
                                    <span class="small">{{ discount.code }} {{ 'customer.order.discount' | t }}</span>
                                </div>
                                <div class="col-3 text-right">
                                    <span data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        {% for shipping_method in order.shipping_methods %}
                            <div class="row order-total justify-content-end no-gutters">
                                <div class="col-auto">
                                    <span class="small">{{ 'customer.order.shipping' | t }}
                                        ({{ shipping_method.title }})
                                    </span>
                                </div>
                                <div class="col-3 text-right">
                                    <span data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        {% for tax_line in order.tax_lines %}
                            <div class="row order-tax justify-content-end no-gutters">
                                <div class="col-auto">
                                    <span class="small">{{ 'customer.order.tax' | t }}
                                        ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
                                    </span>
                                </div>
                                <div class="col-3 text-right">
                                    <span data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row order-total justify-content-end no-gutters">
                            <div class="col-auto">
                                <span class="small">{{ 'customer.order.total' | t }}</span>
                            </div>
                            <div class="col-3 text-right">
                                <span data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }} {{ order.currency }}</span>
                            </div>
                        </div>
                        <div class="row order-billing no-gutters">
                            <div class="col-12">
                                <h3>{{ 'customer.order.billing_address' | t }}</h3>

                                <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>

                                {{ order.billing_address | format_address }}
                            </div>
                        </div>
                        <div class="row order-shipping no-gutters">
                            <div class="col-12">
                                <h3>{{ 'customer.order.shipping_address' | t }}</h3>

                                <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>

                                {{ order.shipping_address | format_address }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>