<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <a href="/">{{ 'customer.login.cancel' | t }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6" data-create-customer>
      {% form 'create_customer' %}
          {{ form.errors | default_errors }}

          <label for="FirstName" class="label-hidden">
            {{ 'customer.register.first_name' | t }}
          </label>
          <input type="text"
            name="customer[first_name]"
            id="FirstName"
            placeholder="{{ 'customer.register.first_name' | t }}"
            class="form-control mb-3"
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            required />

          <label for="LastName" class="label-hidden">
            {{ 'customer.register.last_name' | t }}
          </label>
          <input type="text"
            name="customer[last_name]"
            id="LastName"
            class="form-control mb-3"
            placeholder="{{ 'customer.register.last_name' | t }}"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
            required />

          <label for="Email" class="label-hidden">
            {{ 'customer.register.email' | t }}
          </label>
          <input type="email"
            name="customer[email]"
            id="Email"
            class="{% if form.errors contains 'email' %}input-error{% endif %} form-control mb-3"
            placeholder="{{ 'customer.register.email' | t }}"
            value="{% if form.email %}{{ form.email }}{% endif %}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            required />

          <label for="CreatePassword" class="label-hidden">
            {{ 'customer.register.password' | t }}
          </label>
          <input type="password"
            name="customer[password]"
            id="CreatePassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %} form-control mb-3"
            placeholder="{{ 'customer.register.password' | t }}"
            required />
          <input type="password"
             value=""
             name="customer[password_confirmation]"
             id="confirm-password"
             class="password text {% if form.errors contains 'password_confirmation' %}input-error{% endif %} form-control mb-3"
             placeholder="{{ 'customer.register.password_confirm' | t }}"
              required />
          <p class="text-center">
            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-primary" />
          </p>
      {% endform %}
    </div>
  </div>
</div>