<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script src="https://cdn.attn.tv/checkout/checkout.js" defer></script>
<script src="https://cdn.attn.tv/respawn/dtag.js"></script>

<style type="text/css">
    .section__content.section__content__attentive {
        border-radius: 4px;
        background-color: #fafafa;
        border: solid 1px #e6e6e6;
        padding: 12px;
    }
    .section__content.section__content__attentive .input-checkbox {
        background: #fff;
    }
    .section__footer__attentive {
        font-size: 9px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        padding-top: 4px;
    }
    .section__footer__attentive a {
        color: #000000;
        text-decoration: underline;
    }
    .section__footer__attentive b {
        font-weight: bold;
    }
    .checkbox__label.checkbox__label__attentive {
        cursor: auto;
        margin-left: 0.75em;
    }
    .checkbox__label__attentive__header {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }
    .checkbox__label__attentive__subheader {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #737373;
        padding-top: 4px;
    }
    .checkbox-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: baseline;
    }
</style>

  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
            <div id="attentiveOptIn" class="fieldset-description" data-buyer-accepts-marketing-attentive="" aria-label="Phone Sign Up">
    <div class="section__content section__content__attentive">
        <div class="checkbox-wrapper">
            <div class="checkbox__input">
                <input name="attributes[buyer_accepts_marketing_attentive]" type="hidden" value="0">
                <input class="input-checkbox" data-backup="buyer_accepts_marketing" type="checkbox" value="1" name="attributes[buyer_accepts_marketing_attentive]" id="checkout_buyer_accepts_marketing_attentive" aria-labelledby="headers" tabindex="0" focusable="true">
            </div>
            <div class="checkbox__label checkbox__label__attentive">
                <span id="headers" tabindex="0" focusable="true">
                    <div class="checkbox__label__attentive__header">JOIN THE TEAM</div>
                    <div class="checkbox__label__attentive__subheader">Sign up to get texts from RESPAWN </div>
                </span>
                <div class="section__footer__attentive">By checking this box, you agree to receive recurring automated promotional and personalized marketing text messages <b>(e.g. cart reminders)</b> from RESPAWN at the cell number used when signing up. Consent is not a condition of any purchase. <b>Reply HELP for help and STOP to cancel.</b> Msg frequency varies. Msg & data rates may apply. View <a href="http://attn.tv/respawn/terms.html" target="_blank" rel="noopener noreferrer" aria-label="RESPAWN Terms Link" >Terms</a> &amp; <a href="https://respawnproducts.com/pages/privacy-policy" target="_blank" rel="noopener noreferrer" aria-label="RESPAWN Privacy Link">Privacy</a>.</div>
            </div>
        </div>
    </div>
</div>

          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
