<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="apple-touch-icon" sizes="144x144" href="{{ "apple-touch-icon.png" | asset_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | asset_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | asset_url }}">
  <link rel="manifest" href="{{ "site.webmanifest" | asset_url }}">
  <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | asset_url }}" color="#78BE20">
  <meta name="msapplication-config" content="{{ "browserconfig.xml" | asset_url }}" />
  <meta name="msapplication-TileColor" content="#78BE20">
  <meta name="theme-color" content="#78BE20 ">

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{{ "browser-detect.js" | asset_url }}"></script>
  <script src="{{ "in-view.min.js" | asset_url }}"></script>
  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body class="template-password">
{% section 'header' %}

  <main role="main" id="MainContent" class="container">
    <div class="row">
      <div class="col">
        {{ content_for_layout }}
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <div class="row text-center">
          {% capture shopify_link %}
            <a href="//www.shopify.com" target="_blank" rel="nofollow" title="Create your own online store with Shopify">
              {% include 'icon-shopify-logo' %}
              <span class="icon-fallback-text">Shopify</span>
            </a>
          {% endcapture %}
        <div class="col">
          {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
        </div>
      </div>
    </div>
  </footer>

  <div id="Login">
    <div class="container">
      <div class="row align-items-center">
        <div class="col text-center">
          <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <div>
              <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
              <input type="password"
                     name="password"
                     id="Password"
                     placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            </div>
            <div>
              <button type="submit" name="commit" class="button button_large button_primary">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </div>
          {% endform %}
          <p>{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
