<!doctype html>
<html class="no-js supports-no-cookies h-100" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta name="facebook-domain-verification" content="2psmnkwz9b5i57nv2kc40lplcy701o" /> -->
    {% if template contains 'ajax' %}
    <meta name="robots" content="noindex">
    {% endif %}

    <link rel="apple-touch-icon" sizes="144x144" href="{{ "apple-touch-icon.png" | asset_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | asset_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | asset_url }}">
    <link rel="manifest" href="{{ "site.webmanifest" | asset_url }}">
    <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | asset_url }}" color="#F04355">
    <meta name="msapplication-config" content="{{ "browserconfig.xml" | asset_url }}" />
    <meta name="msapplication-TileColor" content="#f04355">
    <meta name="theme-color" content="#f04355 ">
    <!-- <meta name="google-site-verification" content="_T47hdMsuIooO-MDFpg-OuGN8WpDm7h5n7Ad62a-b8A" /> -->

    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>
    
    <meta name="title" content="{{ seo_title | strip }}">
    {%- if page_description -%}
    {%- comment %}<locksmith:8920>{% endcomment -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- comment %}</locksmith:8920>{% endcomment -%}
    {%- endif -%}
    {% include 'social-meta-tags' %}
    {% include 'css-variables' %}
    {% include 'css-files' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');

      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        }, 
        moneyFormat: {{ shop.money_format | json }}
      };
    </script>
    {% if page_title == 'RESPAWN Specter Gaming Chair' or page_title == 'RESPAWN Sidewinder Gaming Chair' %}
      <!-- analytic -->
      
    {% endif %}
    {{ content_for_header }}
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} page-{{ template.suffix }} d-flex flex-column h-100">
    <div id="main-content" class="flex-shrink-0">
      <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

      {% section 'header' %}

      <main id="composition">
        {% if request.path contains '/policies/' %}
          {% render 'policy' %}
        {% else %}
          {{ content_for_layout }}
        {% endif %}
        <div class="push"></div>
      </main>

    </div>
    <footer class="mt-auto">
      {% section 'footer' %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous" defer></script>
    <script src="https://kit.fontawesome.com/210c917928.js" crossorigin="anonymous" defer></script>
    <script src="{{ 'lazysizes.min.js' | asset_url}}" defer></script>
    <script src="{{ 'theme.js' | asset_url}}" defer></script>
    {% include 'theme-scripts' %}
    {% comment %}
    {% include 'swymSnippet' %}
    {% endcomment %}
  </body>
</html>
