<div class="container cart-template theme-light">
  <div class="row">
      <div class="col-12 text-center mb-3">
          <h1>{{ 'cart.general.title' | t }}</h1>
      </div>
  </div>
  {% if cart.item_count > 0 %}
      <form action="/cart" method="post" novalidate>
          <div class="row">
              <div class="mobile-stick col-12" style="height: 0"></div>
              <div class="col-12 col-md-8 cart-items-holder">
                  {% for item in cart.items %}
                      <div data-label="{{ 'customer.order.product' | t }}" class="cart_product row"
                           data-id="{{ item.id }}">
                          <div class="cart-item-holder col">
                              <div class="row no-gutters">
                                  <div class="col-2 cart_item">
                                      {% if item.image != blank %}
                                          <a href="{{ item.url | within: collections.all }}">
                                              {{ item | img_url: '240x240' | img_tag: item.title }}
                                          </a>
                                      {% endif %}
                                  </div>
                                  <!-- desktop cart items -->
                                  <div class="col-10 cart-items-holder desktop">
                                      <div class="row">
                                          <div class="col-12">
                                              <a href="{{ item.url }}" class="cart_title">{{ item.product.title }}</a>
                                              {% unless item.product.has_only_default_variant %}
                                                  <div class="col-12 cart_variant">
                                                      <p>{{ item.variant.title }}</p>
                                                  </div>
                                              {% endunless %}
                                          </div>
                                          <div class="col-12">
                                              <div class="row align-content-end cart-price-holder">
                                                  <div class="col-12 cart-prices">
                                                      <div class="row">
                                                          <div data-label="{{ 'cart.label.price' | t }}"
                                                               class="cart_price col-4">
                                                              {% if item.variant.compare_at_price > item.variant.price %}
                                                                  <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                                                                  <s>{{ item.variant.compare_at_price | money }}</s>
                                                                  <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                                                                  <span class="cart-prod-price on-sale" data-line-index="{{ forloop.index0 }}"><div class="pn-price-item" data-id="{{ item.key }}">{{ item.price | money }}</div></span>
                                                              {% else %}
                                                                  <span class="cart-prod-price" data-line-index="{{ forloop.index0 }}"><div class="pn-price-item" data-id="{{ item.key }}">{{ item.price | money }}</div></span>
                                                              {% endif %}
                                                          </div>
                                                          <div class="col-5 col-lg-4 text-center quantity-holder">
                                                              <div data-label="{{ 'cart.label.quantity' | t }}">
                                                                  <input type="number"
                                                                         name="updates[]"
                                                                         id="updates_{{ item.key }}"
                                                                         value="{{ item.quantity }}"
                                                                         min="0"
                                                                         aria-label="{{ 'cart.general.item_quantity' | t }}"
                                                                         class="quantity_input">
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cart-close col-auto">
                            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                                class="cart_remove">
                                <i class="bi bi-x"></i>
                            </a>
                          </div>
                      </div>
                  {% endfor %}
              </div>
              <div class="col-12 col-md-4 cart_checkout">
                  <div class="checkout-holder">
                      <h2 class="d-none d-md-block">Summary</h2>
                      {% if settings.cart_notes_enable %}
                          <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                          <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                      {% endif %}
                      <div class="row justify-content-between total-holder">
                          <div class="col-auto subtotal-holder align-self-center">
                              <p class="cart_subtotal">{{ 'cart.general.subtotal' | t }}</p>
                          </div>
                          <div class="col-auto text-right">
                              <p id="org_price" style="display: none;"></p>
                            <p id="subtotal"><span class="money" data-cart-total>{{ cart.total_price | money }}</span></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                              <p class="cart_shipping">{{ 'cart.general.shipping_at_checkout' | t }}</p>
                          </div>
                      </div>
                      <input type="submit" id="update_cart" class="btn btn-primary btn-full" value="Update quantities" />
                      <input type="submit" id="go_to_checkout" name="checkout" class="btn btn-primary btn-full"
                             value="{{ section.settings.checkout_btn_text }}">
                        <div class="small my-3">
                        {{section.settings.shipping_text}}
                        </div>
                  </div>
                  <div class="card text-white bg-success checkout-info-holder">
                      <div class="card-body text-center">
                        <div class="secure-message">
                            <div class="secure-icon mb-3">
                                <i class="bi bi-lock-fill"></i>
                            </div>
                            {{ section.settings.payments_text }}
                            {% if section.settings.show_secure_icons %}
                                <div class="row justify-content-center badge-holder align-items-center mb-3">
                                    <div class="col-auto">
                                        <img src="{{ 'shopify-secure-badge-dark@2x.png' | asset_url }}" alt="Shopify Secure"
                                            class="shopify-secure" width="117"/>
                                    </div>
                                    <div class="col-auto">
                                        <img src="{{ 'ssl.svg' | asset_url }}" alt="SSL Secure" class="ssl-secure"
                                            width="61"/>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if section.settings.show_payment_icons %}
                            <div class="payment-icon-holder mb-3">
                                <ul class="payment-icons list--inline site-footer__icon-list row justify-content-center">
                                    {% assign enabled_payment_types = 'visa,master,american_express,paypal' | remove: ' ' | split: ',' %}
                                    {% for type in enabled_payment_types %}
                                        <li class="payment-icon col-auto px-1">
                                            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="cart-message small">
                            {{ section.settings.processing_text }}
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  {% else %}
      {% comment %}
          Cart empty state
      {% endcomment %}
      <div class="cart-empty row justify-content-center">
          <div class="col-6 text-center">
              <div class="supports-cookies">
                  {{ section.settings.empty_text }}
              </div>

              {% comment %}
                  Cart no cookies state
                  ---------------------
                  Browser cookies are required to use the cart. If cookies aren't enabled in the
                  browser a message is displayed prompting the user to enable them.
              {% endcomment %}
              <div class="supports-no-cookies">
                  <p>{{ 'cart.general.cookies_required' | t }}</p>
              </div>
          </div>
      </div>
  {% endif %}
</div>

{% schema %}
{
    "name": "Cart",
    "settings": [
        {
            "type": "header",
            "content": "Empty Cart"
        },
        {
            "type": "richtext",
            "id": "empty_text",
            "label": "Cart Empty Text",
            "default": "<p>Your cart is currently empty.</p><p>Give your cart a purpose and continue browsing <a href=\"/collections/all\">here</a>.</p>"
         },
        {
            "type": "header",
            "content": "Cart Summary"
        },
        {
            "type": "text",
            "id": "checkout_btn_text",
            "default": "Secure Checkout",
            "label": "Checkout Button Text"
        },
        {
            "type": "richtext",
            "id": "shipping_text",
            "label": "Shipping Text",
            "default": "<p>Default <em>richtext</em> <a href=\"https://example.com/\">content</a></p>"
         },
        {
            "type": "richtext",
            "id": "payments_text",
            "label": "Payment Text",
            "default": "<p>All payments made on #SiteName# are processed securely via Shopify Payments, which is PCI compliant.</p>"
         },
        {
            "type": "richtext",
            "id": "processing_text",
            "label": "Processing Text",
            "default": "<p>Respawn process all orders in USD. While the content of your cart is currently displayed in USD, you will checkout using USD at the most current exchange rate.</p>"
         },
         {
            "type": "checkbox",
            "id": "show_secure_icons",
            "label": "Show Secure Icons",
            "default": false
         },
         {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": "Show Payment Icons",
            "default": false
         }
    ]
}
{% endschema %}