{% assign paginate_position = section.settings.pagination_position %}
{% assign pagination_placement = section.settings.pagination_placement %}
{%- assign filter = true -%}

<div class="container collection-list featured-collection {{ section.settings.color_toggle }}">
    <div class="row">
        {% if pagination_placement == "top" or pagination_placement == "both" %}
            {% include 'pagination', pos: 'first' %}
        {% endif %}
        {% if filter %}
            <div class="col col-2 col-filter">
                {% include 'collection-filter' %}
            </div>
        {% endif %}
        <div class="col{% if filter %} col-10{% endif %} col-collection-cards" data-limit="{{ section.settings.ppg }}">
            {% include 'collection-cards' %}
        </div>
        {% if pagination_placement == "bottom" or pagination_placement == "both" %}
            {% include 'pagination', pos: 'last' %}
        {% endif %}
    </div>
</div>
<div id="product-infos" hidden data-total-products="{{ collection.all_products_count }}">
    <ul class="product-holder">
        {% for i in collection.products %}
            {% assign colorImages = '' %}
            {% for variant in i.variants %}
                {% assign color = variant.metafields.variant.swatch %}
                {% if color %}
                    {% assign colorImages = colorImages | append: color %}
                    {% unless forloop.last %}
                        {% assign colorImages = colorImages | append: ',' %}
                    {% endunless %}
                {% endif %}                
            {% endfor %}
            <li data-prod-id="{{ i.id }}" data-title="{{ i.title }}" data-swatch-img="{{ colorImages }}"></li>
        {% endfor %}
    </ul>
</div>

{% schema %}
{
"name": "Collection Page",
"settings": [
    {
        "type": "header",
        "content": "Pagination Options"
    },
    {
        "type": "range",
        "id": "ppg",
        "min": 2,
        "max": 50,
        "step": 2,
        "label": "Products Per Page",
        "default": 8
    },
    {
        "type": "checkbox",
        "id": "show_percent_off",
        "label": "Show Percent Off",
        "default": true
    },
    {
        "type": "radio",
        "id": "pagination_position",
        "label": "Pagination Position",
        "options": [
          { "value": "start", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "end", "label": "Right" }
        ],
        "default": "center"
     },
     {
        "type": "radio",
        "id": "pagination_placement",
        "label": "Pagination Placement",
        "options": [
          { "value": "top", "label": "Top" },
          { "value": "bottom", "label": "Bottom" },
          { "value": "both", "label": "Both" }
        ],
        "default": "both"
     },
     {
         "type": "header",
         "content": "Filter Options"
     },
     {
        "type": "text",
        "id": "color_filter_title",
        "label": "Color Filter Title",
        "default": "Colors"
      },
      {
        "type": "checkbox",
        "id": "filter_colors",
        "label": "Filter Colors",
        "default": false
     },
      {
        "type": "text",
        "id": "tag_filter_title",
        "label": "Tag Filter Title",
        "default": "Features"
      },
      {
        "type": "checkbox",
        "id": "filter_tags",
        "label": "Filter Tags",
        "default": false
     },
     {
        "type": "header",
        "content": "Card Options"
     },
     {
        "type": "checkbox",
        "id": "show_colors",
        "label": "Show Colors",
        "default": false
     },
     {
         "type": "select",
         "id": "color_toggle",
         "label": "Color Toggle Type",
         "options": [
             {
                 "value": "active-click",
                 "label": "Click"
             },
             {
                 "value": "active-hover",
                 "label": "Hover"
             }
         ],
         "default": "active-click"
     },
     {
        "type": "checkbox",
        "id": "show_price",
        "label": "Show Price",
        "default": true
     },
     {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show Vendor",
        "default": false
     }
]
}

{% endschema %}
