<div class="main-footer pt-5 bg-dark text-light">
    {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
    <div class="container footer-info">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 footer-left">
                {% if section.settings.footer_logo != blank %}
                    <img src="{{ section.settings.footer_logo | img_url: '190x' }}"
                        srcset="{{ section.settings.footer_logo | img_url: '190x' }} 1x, {{ section.settings.footer_logo | img_url: '380x', scale: 2 }} 2x"
                        alt="{{ section.settings.footer_logo.alt | default: shop.name }}"
                        class="lazyload footer-logo mb-3">
                {% else %}
                    <h3>{{ shop.name }}</h3>
                {% endif %}
                <div class="under-logo-text">
                    {{ section.settings.text }}
                </div>
                {% if section.settings.footer_newsletter_enable %}
                    <div class="newsletter">
                        <h6>{{ section.settings.title }}</h6>
                        {% form 'customer' %}
                            {{ form.errors | default_errors }}

                            {% if form.posted_successfully? %}
                                <p class="form--success">{{ 'contact.newsletter.post_success' | t }}</p>
                            {% else %}
                                <div class="row g-0">
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <div class="col">
                                        <input type="email" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter E-mail" name="contact[email]" id="mail" required/>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary"><i class="bi bi-play"></i></button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endform %}
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-8">
                <div class="row justify-content-end">
                    <div class="col-12 col-md-auto footer-menu-container">
                        {%- assign footer_linklist = section.settings.footer_linklist -%}
                        {% if linklists[footer_linklist].links.size > 0 %}
                            <h6 class="footer-menu-title">{{ section.settings.footer_col_1 }}</h6>
                            <ul class="footer-menu">
                                {% for link in linklists[footer_linklist].links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-auto footer-menu-container">
                        {%- assign footer_linklist = section.settings.footer_linklist_2 -%}
                        {% if linklists[footer_linklist].links.size > 0 %}
                            <h6 class="footer-menu-title">{{ section.settings.footer_col_2 }}</h6>
                            <ul class="footer-menu">
                                {% for link in linklists[footer_linklist].links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-auto footer-menu-container">
                        {%- assign footer_linklist = section.settings.footer_linklist_3 -%}
                        {% if linklists[footer_linklist].links.size > 0 %}
                            <h6 class="footer-menu-title">{{ section.settings.footer_col_3 }}</h6>
                            <ul class="footer-menu">
                                {% for link in linklists[footer_linklist].links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-auto footer-menu-container">
                        <h6 class="footer-menu-title">Account</h6>
                        <ul class="footer-menu">
                            <li><a href="/account/login">Sign In</a></li>
                            <li><a href="/account/register">Create Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center justify-content-md-end py-3">
                    <div class="footer-social col-auto {{ settings.social_colors }}">
                        <div class="social-holder row">
                            {% if settings.facebook_link != '' %}
                                <div class="col-auto px-1"><a href="{{ settings.facebook_link }}" target="_blank" title="Facebook" rel="noreferrer"><span class="fab fa-facebook-f"></span></a></div>
                            {% endif %}
                            {% if settings.twitter_link != '' %}
                                <div class="col-auto px-1"><a href="{{ settings.twitter_link }}" target="_blank" rel="noreferrer"><span class="fab fa-twitter" title="Twitter"></span></a></div>
                            {% endif %}
                            {% if settings.pinterest_link != '' %}
                                <div class="col-auto px-1"><a href="{{ settings.pinterest_link }}" target="_blank" rel="noreferrer"><span class="fab fa-pinterest"  title="Pinterest"></span></a></div>
                            {% endif %}
                            {% if settings.instagram_link != '' %}
                                <div  class="col-auto px-1"><a href="{{ settings.instagram_link }}" target="_blank" rel="noreferrer"><span class="fab fa-instagram" title="Instagram"></span></a></div>
                            {% endif %}
                            {% if settings.youtube_link != '' %}
                                <div class="col-auto px-1"><a href="{{ settings.youtube_link }}" target="_blank" rel="noreferrer"><span class="fab fa-youtube"  title="Youtube"></span></a></div>
                            {% endif %}
                            {% if settings.discord_link != '' %}
                                <div class="col-auto px-1"><a href="{{ settings.discord_link }}" target="_blank" rel="noreferrer"><span class="fab fa-discord"  title="Youtube"></span></a></div>
                            {% endif %}
                            {% if settings.tiktok_link != '' %}
                                <div class="col-auto px-1"><a href="{{ settings.tiktok_link }}" target="_blank" rel="noreferrer"><span class="fab fa-tiktok"  title="Youtube"></span></a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sub-footer bg-dark text-light">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-6">
                <div class="copy">
                    &copy;{{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.
                </div>
                <div class="under-copy-text small mt-3">
                    {{ section.settings.under_footer_text }}
                </div>
                {% assign footer_linklist = section.settings.sub_footer_menu %}
                {% if footer_linklist != empty %}
                    <div class="sub-footer-menu-title">
                        <p>Also of Interest:</p>
                    </div>
                    <ul class="sub-footer-menu">
                        {% for link in linklists[footer_linklist].links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="shop-address">
                    <p style="text-align: right;">{{ shop.address.street }}, {{ shop.address.city }}, {{ shop.address.province_code }} {{ shop.address.zip }}</p>
                </div>
                <ul class="payment-icons list--inline site-footer__icon-list row justify-content-center justify-content-md-end no-gutters">
                    {% assign enabled_payment_types = 'visa,master,american_express,paypal' | remove: ' ' | split: ',' %}
                    {% for type in enabled_payment_types %}
                        <li class="payment-icon col-auto px-1">
                            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Footer",
    "settings": [
    {
    "type": "image_picker",
    "id": "footer_logo",
    "label": "Footer Logo"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "Text",
    "default": "<p>Use this for text under the footer logo</p>"
    },
    {
    "type": "text",
    "id": "footer_col_1",
    "label": "Menu Title"
    },
    {
    "type": "link_list",
    "id": "footer_linklist",
    "label": "First menu",
    "default": "footer"
    },
    {
    "type": "text",
    "id": "footer_col_2",
    "label": "Second Menu Title"
    },
    {
    "type": "link_list",
    "id": "footer_linklist_2",
    "label": "Second menu",
    "default": "footer"
    },
    {
    "type": "text",
    "id": "footer_col_3",
    "label": "Third Menu Title"
    },
    {
    "type": "link_list",
    "id": "footer_linklist_3",
    "label": "Third menu",
    "default": "footer"
    },
    {
    "type": "header",
    "content": "Footer Newsletter"
    },
    {
    "type": "checkbox",
    "id": "footer_newsletter_enable",
    "label": "Enable",
    "default": true
    },
    {
    "type": "text",
    "id": "title",
    "label": "Name",
    "default": "Join our Newsletter"
    },
    {
    "type": "richtext",
    "id": "under_footer_text",
    "label": "Under Copyright",
    "default": "<p>Use this for text under the copyright in the sub footer.</p>"
    },
    {
    "type": "link_list",
    "id": "sub_footer_menu",
    "label": "Sub Footer Menu",
    "default": "footer"
    },
    {
    "type": "checkbox",
    "id": "show_payment_icons",
    "label": "Show payment icons",
    "default": false
    }
    ]
    }

{% endschema %}
