<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      {% if template.name == 'index' %}
        <h1 class="navbar-brand me-4">
      {% else %}
          <div class="h1 navbar-brand me-4">
      {% endif %}
          <a href="/" class="logo-image">
              {% if section.settings.logo != blank %}
                  <img src="{{ section.settings.logo | img_url: '400x' }}"
                          srcset="{{ section.settings.logo | img_url: '400x' }} 1x, {{ section.settings.logo | img_url: '400x', scale: 2 }} 2x"
                          alt="{{ section.settings.logo.alt | default: shop.name }}">
              {% else %}
                  {{ shop.name }}
              {% endif %}
          </a>
      {% if template.name == 'index' %}
          </h1>
      {% else %}
          </div>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% include 'site-nav' %}
    </div>
</nav>

{% schema %}
    {
    "name": "Header",
    "max_blocks": 5,
    "settings": [
    {
    "type": "header",
    "content": "Announcement bar"
    },
    {
    "type": "checkbox",
    "id": "announcement_bar_enabled",
    "label": "Show announcement",
    "default": false
    },
    {
    "type": "checkbox",
    "id": "announcement_bar_home_page_only",
    "label": "Show on home page only",
    "default": true
    },
    {
    "type": "text",
    "id": "announcement_bar_text",
    "label": "Announcement text",
    "default": "Announce something here"
    },
    {
    "type": "url",
    "id": "announcement_bar_link",
    "label": "Announcement link",
    "info": "Optional"
    },
    {
    "type": "header",
    "content": "Header"
    },
    {
    "type": "image_picker",
    "id": "logo",
    "label": "Logo image"
    },
    {
      "type": "checkbox",
      "id": "animated_dropdown",
      "label": "Animate Dropdown Nav",
      "default": true
    },
    {
    "type": "link_list",
    "id": "sub_menu",
    "label": "Additional Menu"
    },
  {
  "type": "text",
  "id": "shop_menu_banner_alt",
  "label": "Shop Menu Banner Alt Text"
  },
  {
  "type": "url",
  "id": "shop_menu_banner_link",
  "label": "Shop Menu Banner Link"
  }
    ],
  "blocks": [
  {
  "type": "select",
  "name": "Main Menu",

  "settings": [
  {
  "id": "main-menu-item-title",
  "type": "text",
  "label": "Main Menu Item Title"
  },
  {
  "id": "main-menu-item-link",
  "type": "collection",
  "label": "Main Menu Item Link"
  }

  ]
  }
  ]
    }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}


</script>

{% if template.name == 'index' %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }


    </script>
{% endif %}
