{% liquid
  assign horz_align = 'start'
  assign col_num = '6'
  case section.settings.text_position
    when 'center'
      assign horz_align = "center"
      assign col_num = '8'
    when 'right'
      assign horz_align = "end"
  endcase
%}
{% assign date = "now" | date: "%Y%m%d" %}
{% capture start_date %}{{ section.settings.start_year }}{{ section.settings.start_month | prepend: '00' | slice: -2, 2 }}{{ section.settings.start_day | prepend: '00' | slice: -2, 2 }}{% endcapture %}
{% capture end_date %}{{ section.settings.end_year }}{{ section.settings.end_month | prepend: '00' | slice: -2, 2 }}{{ section.settings.end_day | prepend: '00' | slice: -2, 2 }}{% endcapture %}
{% if date >= start_date %}
  {% if date < end_date %}
    <!-- ======================== Main Slider ========================= -->
    <div class="hero hero-banner{% if section.settings.hero_parallax %} parallax{% endif%}{% if section.settings.hero_first %} hero-first{% endif%} lazyload{% if section.settings.hero_overlay %} has-overlay{% endif %} bg-light">
      <div class="hero-bg-img">
        <img class="lazyload" src="{{ section.settings.image | img_url: '1x1' }}" data-srcset="{{ section.settings.image | img_url: '300x' }} 300w,{{ section.settings.image | img_url: '600x' }} 600w,{{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '1500x' }} 1500w,{{ section.settings.image | img_url: '1920x' }} 1920w" data-size="auto" />
      </div>
      {% if section.settings.mobile_image %}
        <div class="slider-image mobile-image_desktop lazyload d-md-none" style="background-image: url({{ section.settings.mobile_image |  img_url:'1x' }});" data-bgset="{% include 'responsive-bg-image', image: section.settings.mobile_image %}"></div>
      {% endif %}
      {% if section.settings.video_url != empty %}
        <div class="slider-video">
          <video autoplay muted loop id="heroVideo" playbackspeed=".5">
            <source src="{{ section.settings.video_url }}" type="video/mp4">
          </video>
          <script>
            var vid = document.getElementById("heroVideo");
            setPlaySpeed('.75');
            function setPlaySpeed(speed) { 
                vid.playbackRate = speed;
            } 
            </script> 
        </div>
      {% endif %}
      <div class="container container__banner-content">
        <div class="row justify-content-{{ horz_align }} hero-row">
          <div class="caption col-12 col-md-{{ col_num }} text-center align-self-md-center">
            <div class="caption-text">
              {% if section.settings.hero_new %}
                {% if section.settings.new_overwrite != '' %}
                <h5 class="new display-6 text-uppercase text-danger">{{section.settings.new_overwrite}}</h5>
                {% else %}
                  <h5 class="new display-6 text-uppercase text-danger">New</h5>
                {% endif %}
              {% endif %}
              {% if section.settings.sub_title_position == 'above' and section.settings.sub_title != empty %}
                <h5 class="heading__sub-title pos-above display-6 text-uppercase text-{{ section.settings.text_color }}">{{ section.settings.sub_title }}</h5>
              {% endif %}
              {% if section.settings.title != empty and section.settings.title_image == blank %}<h2 class="heading__title display-2 text-uppercase text-{{ section.settings.text_color }}">{{ section.settings.title }}</h2>{% endif %}
              {% if section.settings.title_image %}
                  {% include 'responsive-image' with image: section.settings.title_image, image_class: "title-image", max_width: 360, max_height: 180 %}
              {% endif %}
              {% if section.settings.sub_title_position == 'below' and section.settings.sub_title != empty %}
                <h5 class="heading__sub-title pos-below display-6 text-uppercase text-{{ section.settings.text_color }}">{{ section.settings.sub_title }}</h5>
              {% endif %}
              {% if section.settings.text != empty %}<div class="heading__text-holder text-{{ section.settings.text_color }}">{{ section.settings.text }}</div>{% endif %}
            </div>
            {% if section.settings.button_link %}
              {% assign button-text = 'Buy Now' %}
              {% if section.settings.button_text != empty %}
                {% assign button-text = section.settings.button_text %}
              {% endif %}
              <div class="hero-button mt-4">
                <a href="{{ section.settings.button_link }}" class="btn btn-primary btn-lg">{{ button-text }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Home Hero",
	"settings": [
      {
        "type": "checkbox",
        "id": "hero_new",
        "default": false,
        "label": "Display New"
      },
      {
        "type": "text",
        "id": "new_overwrite",
        "label": "New Text Overwrite"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text Color",
        "options": [
          {
            "value": "body",
            "label": "Dark"
          },
          {
            "value": "light",
            "label": "Light"
          }
        ],
        "default": "body"
      },
      {
          "type": "image_picker",
          "id": "title_image",
          "label": "Title Image Overwrite"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title"
      },
      {
        "type": "select",
        "id": "sub_title_position",
        "label": "Sub Title Position",
        "options": [
          {
            "value": "above",
            "label": "Above Title"
          },
          {
            "value": "below",
            "label": "Below Title"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text Position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Background"
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video URL",
        "info": "Will overwrite image."
      },
      {
        "type": "checkbox",
        "id": "hero_first",
        "default": true,
        "label": "First Hero Block"
      },
      {
        "type": "checkbox",
        "id": "hero_parallax",
        "default": true,
        "label": "Enable Parallax"
      },
      {
          "type": "checkbox",
          "id": "hero_overlay",
          "default": true,
          "label": "Enable Overlay"
      },
      {
        "type": "header",
        "content": "Display date"
      },
    {
      "type": "range",
      "id": "start_year",
      "label": "Year",
        "min": 2019,
        "max": 2025,
        "step": 1,
      "default": 2019
    },
    {
      "type": "range",
      "id": "start_month",
      "label": "Month",
        "min": 1,
        "max": 12,
        "step": 1,
      "default": 11
    },
{
      "type": "range",
      "id": "start_day",
      "label": "Day",
        "min": 1,
        "max": 31,
        "step": 1,
      "default": 27
    },
    {
      "type": "header",
      "content": "End date"
    },
  {
    "type": "range",
    "id": "end_year",
    "label": "Year",
      "min": 2020,
      "max": 2030,
      "step": 1,
    "default": 2030
  },
  {
    "type": "range",
    "id": "end_month",
    "label": "Month",
      "min": 1,
      "max": 12,
      "step": 1,
    "default": 11
  },
{
    "type": "range",
    "id": "end_day",
    "label": "Day",
      "min": 1,
      "max": 31,
      "step": 1,
    "default": 27
  }
    ],
    "presets": [
      {
        "name": "Home Hero",
        "category": "Image"
      }
    ]
  }
{% endschema %}
