{% paginate search.results by 10 %}

<div class="container py-3">
  <div class="row">
    <div class="col">
      {% if search.performed == false %}
        <div class="text-center">
          <h1 class="h2">{{ 'general.search.title' | t }}</h1>
        </div>
      {% else %}
        <div class="text-center">
          <h1 class="h2">
            <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
            {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
          </h1>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <form action="{{ routes.search_url }}" method="get" role="search" class="search-form search-page-form">
        <div class="input-group input-group--nowrap">
          <div class="input-group__field input-group__field--connected search-form__input-wrapper">
            <input
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}"
              role="combobox"
              aria-autocomplete="list"
              aria-owns="predictive-search-results"
              aria-expanded="false"
              aria-label="{{ 'general.search.placeholder' | t }}"
              aria-haspopup="listbox"
              class="form-control"
              data-search-page-predictive-search-input
              data-base-url="{{ routes.search_url }}"
            />

            <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

            <div class="predictive-search-wrapper" data-predictive-search-mount="default"></div>
          </div>

          <button type="submit" class="btn btn-primary search-form--connected-submit" aria-label="{{ 'general.search.submit' | t }}" data-search-page-predictive-search-submit>
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  {% if search.performed %}
    <div class="row justify-content-center">
        {% if search.results_count > 0 %}
          <hr aria-hidden="true" />
        {% endif %}
        {% if search.performed and search.results_count == 0 %}
          <div class="col search--no-results-found text-center">
            <p>{{ 'general.search.no_results_html' | t }}</p>
          </div>
        {% endif %}
        <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
    </div>
    <div class="row list-view-items">
      {% for item in search.results %}
        <div class="col-12 list-view-item pb-2 mb-4 border-bottom">
          {% if item.object_type == 'product' %}
            {% include 'product-card-list', product: item %}
          {% else %}
            <div class="product-card product-card--list">
              <a href="{{ item.url }}" class="full-width-link">
                <span class="visually-hidden">{{ item.title }}</span>
              </a>
              <div class="list-view-item__link">
                <div class="list-view-item__image-column">
                  <div class="list-view-item__image-wrapper product-card__image-wrapper">
                    {% unless item.image == null %}
                      <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                    {% endunless %}
                  </div>
                </div>

                <div class="list-view-item__title-column">
                  <div class="list-view-item__title" aria-hidden="true">
                    <span class="product-card__title">{{ item.title }}</span>
                  </div>
                  <div>
                    {% if item.published_at %}{{ item.published_at | date: format: "date" }} &#8212; {% endif %}
                    {{ item.content | strip_html | truncate: 200 }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
    {%- endif -%}
    {% if search.results_count < 2  %}
      <div class="search--less-than-2-results"></div>
    {% endif %}
  {% endif %}

  
</div>
{% endpaginate %}
