{% if section.blocks.size > 0 %}
    <div class="container text-tiles mb-3">
        <div class="row">
            {% for block in section.blocks %}
                {% assign title-position = block.settings.sub_title_position %}
                <div class="text-tile-holder {{ tile-size }} mb-3">
                    {% assign border-padding = 'normal-padding' %}
                    <div class="text-tile-container {{ border-padding }}">
                        {% unless block.settings.image == blank %}
                            <div class="background-image {% if block.settings.mobile_image %}d-none d-md-block{% endif %}">
                                <img class="lazyload" src="{{ block.settings.image | img_url: '1x1' }}" data-srcset="{{ block.settings.image | img_url: '300x' }} 300w,{{ block.settings.image | img_url: '600x' }} 600w,{{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1500x' }} 1500w,{{ block.settings.image | img_url: '1920x' }} 1920w" data-size="auto" alt={{block.settings.title}} />
                            </div>
                            {% if block.settings.mobile_image %}
                                <div class="background-image lazyload d-md-none" style="background-image: url({{ block.settings.mobile_image |  img_url:'1x' }});" data-bgset="{% include 'responsive-bg-image', image: block.settings.mobile_image %}"></div>
                            {% endif %}
                        {% endunless %}
                        <div class="row no-gutters align-content-{{ vert_align }} {{ block.settings.image_placement }} text-tile-content-holder">
                            <div class="col-12 col-md-6 text-center align-self-md-center">
                                {% if title-position == 'above' %}
                                    {% if block.settings.sub_title != empty %}<h5 class="text-tile__title text-uppercase text-{{ block.settings.sub_title_color }}">{{ block.settings.sub_title }}</h5>{% endif %}
                                {% endif %}
                                {% if block.settings.title != empty and block.settings.title_image == blank %}<h2 class="text-uppercase text-{{ block.settings.text_color }}">{{ block.settings.title }}</h2>{% endif %}
                                {% if block.settings.title_image %}
                                    {% include 'responsive-image' with image: block.settings.title_image, image_class: "title-image", max_width: 150, max_height: 50 %}
                                {% endif %}
                                {% if title-position == 'below' %}
                                    {% if block.settings.sub_title != empty %}<h5 class="text-tile__title text-uppercase text-{{ block.settings.sub_title_color }}">{{ block.settings.sub_title }}</h5>{% endif %}
                                {% endif %}
                                {% if block.settings.text != empty %}<div class="text-tile_text-holder text-{{ block.settings.text_color }}">{{ block.settings.text }}</div>{% endif %}
                                {% assign button_text = 'Shop' %}
                                {% if block.settings.button_text != empty %}
                                    {% assign button_text = block.settings.button_text %}
                                {% endif %}
                                {% if block.settings.button_link != blank %}
                                    <a class="btn btn-primary" href="{{ block.settings.button_link }}">{{ button_text }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% schema %}
    {
        "name": "Text Tiles",
        "blocks": [
            {
                "type": "text",
                "name": "Text Tiles",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "sub_title",
                        "label": "Sub Title"
                    },
                    {
                        "type": "select",
                        "id": "sub_title_position",
                        "label": "Sub Title Position",
                        "options": [
                            {
                                "value": "above",
                                "label": "Above Main Title"
                            },
                            {
                                "value": "below",
                                "label": "Below Main Title"
                            }
                        ]
                    },
                    {
                        "type": "select",
                        "id": "sub_title_color",
                        "label": "Sub Title Color",
                        "options": [
                            {
                                "value": "body",
                                "label": "Normal"
                            },
                            {
                                "value": "primary",
                                "label": "Primary"
                            },
                            {
                                "value": "success",
                                "label": "Green"
                            },
                            {
                                "value": "danger",
                                "label": "Red"
                            },
                            {
                                "value": "warning",
                                "label": "Yellow"
                            }
                        ],
                        "default": "body"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                      "type": "select",
                      "id": "text_color",
                      "label": "Text Color",
                      "options": [
                        {
                          "value": "body",
                          "label": "Dark"
                        },
                        {
                          "value": "light",
                          "label": "Light"
                        }
                      ],
                      "default": "body"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button Text",
                        "placeholder": "SHOP"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Button Link"
                    },
                    {
                        "type": "select",
                        "id": "image_placement",
                        "label": "Image Placement",
                        "options": [
                            {
                                "value": "justify-content-start",
                                "label": "Left"
                            },
                            {
                                "value": "justify-content-end",
                                "label": "Right"
                            }
                        ],
                        "default": "justify-content-start"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Background"
                    },
                    {
                        "type": "image_picker",
                        "id": "mobile_image",
                        "label": "Mobile Background"
                      },
                    {
                        "type": "image_picker",
                        "id": "title_image",
                        "label": "Title Image Overwrite"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Text Tiles",
                "category": "Text"
            }
        ]
    }
{% endschema %}
