<div class="four-0-four">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        {% assign min = 65 %}
        {% assign max = 250 %}
        {% assign diff = max | minus: min %}
        {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
        <h1>{{ 'general.404.title' | t }}</h1>
        <p>Please accept our deepest apology for this mishap. This has been tracked and added to our developers record.</p>
        <div class="fire-btn"><a href="#fire" class="button button_primary">Fire Developer</a></div>
        <p class="four-0-four-continue">{{ 'general.404.subtext_html' | t }}</p>
      </div>
    </div>
  </div>
</div>

