{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

<article role="article">

  {% if article.image %}
    <div class="hero-banner hero-banner--article lazyload" data-bgset="{% include 'responsive-bg-image', image: article.image %}"></div>

    <noscript>
      {%- assign image_size = article.image.width | append: 'x' -%}
      <div class="hero-banner hero-banner--article" style="background-image: {{ article.image | img_url: image_size }}"></div>
    </noscript>
  {% endif %}

  <div class="container page-template blog-article">
    <div class="row justify-content-center">
      <div class="col col-lg-8">
        <header>
          <h1>{{ article.title }}</h1>
          {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
          <p>{{ 'blogs.article.date_html' | t: date: date }}</p>
        </header>

        <div class="rte">
          {{ article.content }}
        </div>

        {% if article.tags.size > 0 %}
          <ul>
            {% for tag in article.tags %}
              <li>
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if settings.social_sharing_blog %}
          {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
        {% endif %}

        {% if blog.comments_enabled? %}
          <h3>{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h3>

          {% paginate article.comments by 5 %}

          <div id="comments">
            {% if comment and comment.status and comment.id != blank and paginate.current_page == 1 %}
              <p class="form-success">
                {% if blog.moderated? and comment.status != 'published' %}
                  {{ 'blogs.comments.success_moderated' | t }}
                {% else %}
                  {{ 'blogs.comments.success' | t }}
                {% endif %}
              </p>
            {% endif %}

            {% if number_of_comments > 0 %}
              <ul>
                {% comment %}
                  Display comment from URL parameters if it is waiting moderation
                  We added "comment.id" check to make sure we don't display markup if there are form errors
                {% endcomment %}
                {% if comment and comment.status != 'published' and comment.id != blank %}
                  <li id="{{ comment.id }}">
                    <div class="rte">
                      {{ comment.content }}
                    </div>
                    {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                    <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
                  </li>
                {% endif %}

                {% for comment in article.comments %}
                  <li id="{{ comment.id }}">
                    <div class="rte">
                      {{ comment.content }}
                    </div>
                    {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                    <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
                  </li>
                {% endfor %}
              </ul>

              {% if paginate.pages > 1 %}
                {% include 'pagination' %}
              {% endif %}
            {% endif %}
          </div>

          {% endpaginate %}

          {% form 'new_comment', article %}
            <h3>{{ 'blogs.comments.title' | t }}</h3>

            {{ form.errors | default_errors }}

            <label for="CommentAuthor" class="label-hidden">
              {{ 'blogs.comments.name' | t }}
            </label>
            <input type="text"
                  name="comment[author]"
                  id="CommentAuthor"
                  class="{% if form.errors contains 'author' %}input-error{% endif %}"
                  placeholder="{{ 'blogs.comments.name' | t }}"
                  value="{{ form.author }}"
                  autocapitalize="words">

            <label for="CommentEmail" class="label-hidden">
              {{ 'blogs.comments.email' | t }}
            </label>
            <input type="email"
                  name="comment[email]"
                  id="CommentEmail"
                  class="{% if form.errors contains 'email' %}input-error{% endif %}"
                  placeholder="{{ 'blogs.comments.email' | t }}"
                  value="{{ form.email }}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">

            <label for="CommentBody" class="label-hidden">
              {{ 'blogs.comments.message' | t }}
            </label>
            <textarea
              name="comment[body]"
              id="CommentBody"
              class="{% if form.errors contains 'body' %}input-error{% endif %}"
              placeholder="{{ 'blogs.comments.message' | t }}">
              {{- form.body -}}
            </textarea>

            {% if blog.moderated? %}
              <p>{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}

            <input type="submit" class="button" value="{{ 'blogs.comments.post' | t }}">
          {% endform %}

        {% endif %}
      </div>
    </div>
  </div>
</article>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
