{% paginate blog.articles by 5 %}
{% section 'page-hero' %}

<div class="container blog-template">
  {% section 'blog-content' %}

    {% comment %}

    Article Previews
    ====================
    {% endcomment %}

    {% for article in blog.articles %}
      <div class="row no-gutters article-holder" data-href="{{ article.url }}">
        {% if article.image %}
          <div class="col-12 col-md-6">
            <div class="article-image">
              <a href="{{ article.url }}">
                {% include 'responsive-image' with
                  image: article.image,
                  max_width: 1024,
                  max_height: 1024
                %}
              </a>
            </div>
          </div>
        {% endif %}
        <div class="col-12{% if article.image %} col-md-6{% endif %} article-content">
          {% if article.tags.size > 0 %}
            <ul class="tags">
              {% for tag in article.tags %}
                <li>
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                  {% unless forloop.last %}, {% endunless %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          <h3>
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h3>
          
          {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}

          <p class="posted-date">
            {{ 'blogs.article.date_html' | t: date: date }}
          </p>

          <div class="rte content">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>
                {{ article.content | strip_html | truncatewords: 100 }}
              </p>
            {% endif %}
          </div>

          {% if blog.comments_enabled? or article.tags.size > 0 %}
              {% if blog.comments_enabled? %}
                <div class="comments">
                  <a href="{{ article.url }}#comments">
                    {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                  </a>
                </div>
              {% endif %}
          {% endif %}

          <p class="read-more">
            <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
          </p>
        </div>
      </div>
    {% endfor %}
  <div class="row">
    <div class="col">
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>
  </div>
</div>
{% endpaginate %}
