{% section 'page-hero' %}

<div class="container template-long-content">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 content">
      {% if request.path contains 'warranty' %}
        <div class="row">
          <div class="col">
            <h2 class="h1">Limited Lifetime Warranty</h2>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                {% if request.path contains '/ofm-warranty' %}
                  <h1 class="nav-link active h5">OFM Warranty</h1>
                {% elsif request.path contains '/respawn-warranty' %}
                  <a class="nav-link h5" aria-current="page" href="/pages/ofm-warranty">OFM Warranty</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {% if request.path contains '/ofm-warranty' %}
                  <a class="nav-link h5" href="/pages/respawn-warranty">RESPAWN Warranty</a>
                {% elsif request.path contains '/respawn-warranty' %}
                  <h1 class="nav-link active h5">RESPAWN Warranty</h1>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      {% endif %}
      <div class="rte">
        {% include 'shortcode' load: page.content %}
      </div>
    </div>  
  </div>
</div>