{% section 'page-hero' %}
{% assign meta = page.metafields.partners %}
<div class="container page-template page-partners">
  <div class="row justify-content-center">
    <div id="title-holder" class="col-8 text-center">
      {% if meta.title_position == "Above Title" %}
        <h3>{{meta.subtitle}}</h3>
      {% endif %}
      <h2>{{meta.title}}</h2>
      {% if meta.title_position == "Below Title" %}
        <h3>{{meta.subtitle}}</h3>
      {% endif %}
      <div class="body">
        {{meta.body}}
      </div>
      <a href="{{meta.button_link}}" class="button button_primary">{{meta.button_text}}</a>
    </div>
  </div>
  {% assign teamsMeta = page.metafields.team %}
  {% assign teamName = teamsMeta.name %}
  {% assign teamLogo = teamsMeta.logo %}
  {% assign teamAbout = teamsMeta.about %}
  {% assign teamContentAlign = teamsMeta.content_align %}
  {% assign teamBackground = teamsMeta.background %}
  {% assign teamCard = teamsMeta.team_card %}
  {% assign teamCardHover = teamsMeta.team_card_hover %}
  {% assign teamColorOverlay = teamsMeta.background_color %}
  {% assign teamActive = teamsMeta.active %}
  {% include 'partner-team-cards' %}
</div>
{% include 'partner-team-heros' %}
{% assign crewMeta = page.metafields.crew %}
{% assign crewName = crewMeta.Name %}
{% assign crewTwitter = crewMeta.twitter %}
{% assign crewTwitch = crewMeta.twitch %}
{% assign crewYouTube = crewMeta.youtube %}
{% assign crewImage = crewMeta.image %}
{% assign crewTeam = crewMeta.team %}
{% assign crewTitle = crewMeta.title %}
{% include 'partner-crew' %}
