<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}
          <div class="mb-3">
            <label for="{{ formId }}-name" class="form-label">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="{{ formId }}-name" class="form-control" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="mb-3">
            <label for="{{ formId }}-email" class="form-label">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            <input
              type="email"
              id="{{ formId }}-email"
              name="contact[email]"
              autocorrect="off"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              class="form-control{%- if form.errors contains 'email' -%} input--error{% endif %}"
              {%- if form.errors contains 'email' -%}
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
              {%- endif -%}
              >
            {%- if form.errors contains 'email' -%}
              <span id="{{ formId}}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              </span>
            {%- endif -%}
          </div>
          <div class="mb-3">
            <label for="{{ formId }}-phone" class="form-label">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" class="form-control" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          </div>
          <div class="mb-3">
            <label for="{{ formId }}-message" class="form-label">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" class="form-control" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          </div>

          <input type="submit" class="btn btn-primary" value="{{ 'contact.form.send' | t }}">

        {% endform %}
      </div>
    </div>
  </div>
</div>
