{% section 'page-hero' %}

<div class="container page-template">
  <div class="row justify-content-center">
    <div class="col">
      <div class="rte">
        {% include 'shortcode' load: page.content %}
      </div>
    </div>
  </div>
</div>
