{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<h2>{{ 'general.password_page.opening_soon' | t }}</h2>

{% unless shop.password_message == blank %}
  <p>
    {{ shop.password_message }}
  </p>
{% endunless %}

{% form 'customer' %}

  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <ul class="form-success">
      <li>{{ 'general.password_page.signup_form_success' | t }}</li>
    </ul>
  {% else %}
    <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <div>
      <label for="email">
        {{ 'general.password_page.signup_form_email_label' | t }}
      </label>
      <input type="email"
        name="contact[email]"
        id="Email"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
        placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
    </div>
    <div>
      <button type="submit" name="commit" class="button button_large button_primary">
        {{ 'general.password_page.signup_form_submit' | t }}
      </button>
    </div>
  {% endif %}
{% endform %}

{% if settings.share_facebook or settings.share_twitter %}
  <p>{{ 'general.password_page.spread_the_word' | t }}</p>
  {% include 'social-sharing' %}
{% endif %}

<a href="#Login" class="login-link">
  {% include 'icon-lock' %}
  {{ 'general.password_page.password_link' | t }} &rarr;
</a>
